.myheading
{
  color: red;
  margin: 30px;
  font-size: 60px;
}

.my_Card
{
  margin: 30px;

}

.ProductInfoDiv
{
  height: 600px;
}

.productImage
{
  width: 50%;
  height: 400px;
  margin-top: 50px;
}

.secondDivProduct
{
  padding: 50px;
}

.avoffer
{
  margin-top: 20px;
}

.buyNowButton
{
  background-color: #FB641B;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  font-weight: bold;
  width: 200px;
  padding: 10px;
}

.addTocartButton
{
  background-color: #FF9F00;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  font-weight: bold;
  width: 200px;
  padding: 10px;
}

.place_order_btn
{
  margin: 40px;
}

.my_login_div
{
  margin-top: 150px;
  border: 5px solid black;
  border-radius: 25px;
  height: 500px;
  padding: 30px;
}

.myproduct_insert_div
{
  padding: 100px;
  height: 900px;
}

.Function_insert_category
{
  padding: 100px;
  height: 900px;
}

.datamsg
{
  margin-top: 30px;
}